/*police de texte*/
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Lato:wght@100;300;400;700&family=Open+Sans:wght@300;400;600;700&display=swap');

/**l'etoile permet de designer tout les element HTML (div, p, ul, li, etc...*/
*{
  font-family: 'Arvo', serif;
  font-size: 16px;
  margin: 0;
}

.container {
  width: 80%;
  margin: auto;
}



/*variable couleur*/
:root {
  --white: #ffffff;
  --black: #000000;
  --orange: #ff6347;
  --grey: #797878;
  --grey-opacity: #d9d7d7;  
}

/*** Barre de navigation*/

header nav  {
  background-color: var(--black);
  padding: 10px 0;
  
}

header nav div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* Cache le menu pour ordinateur */
header nav ul {
  display: none;
}

.menu-icon {
  width: 32px;
  filter: invert(100%);
}